@font-face {
	font-family: "Ubuntu Condensed";
	font-weight: normal;
	src: url(fonts/UbuntuCondensed-Regular.woff);
}

body {
	font-family: "Ubuntu Condensed", sans-serif;
	font-size: 24px;
	background-color: white;
}

.unit {
	font-size: 16px;
}

.currentConditions td,
.forecastConditions td {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

/* Icons */

.icon {
	vertical-align: middle;
	display: inline-block;
	height: 1em;
	width: 1em;
	background-repeat: no-repeat;
	background-position: center center;
}

div.icon {
	display: block;
	width: 100%;
}

/* Current conditions */

.currentConditions {
	width: 100%;
	margin-bottom: 20px;
	table-layout: fixed;
	font-size: 32px;
}

.currentConditions .temperature .icon {
	background-image: url(icons/thermometer.svg);
}

.currentConditions .humidity .icon {
	background-image: url(icons/water-percent.svg);
}

.currentConditions .pressure .icon {
	background-image: url(icons/gauge.svg);
}

.currentConditions .precipitation .icon {
	background-image: url(icons/water.svg);
}

.currentConditions .icon[data-condition="sunny"] {
	background-image: url(icons/weather-sunny.svg);
}

.currentConditions .icon[data-condition="rainy"] {
	background-image: url(icons/weather-rainy.svg);
}

.currentConditions .icon[data-condition="cloudy"] {
	background-image: url(icons/weather-cloudy.svg);
}

.currentConditions .icon[data-condition="snowy"] {
	background-image: url(icons/weather-snowy.svg);
}

.currentConditions .icon[data-condition="night"],
.currentConditions .icon[data-condition="clear-night"] {
	background-image: url(icons/weather-night.svg);
}

.currentConditions .icon[data-condition="partlycloudy"] {
	background-image: url(icons/weather-partly-cloudy.svg);
}

.currentConditions .icon[data-condition="fog"] {
	background-image: url(icons/weather-fog.svg);
}

.currentConditions .icon[data-condition="pouring"] {
	background-image: url(icons/weather-pouring.svg);
}

.currentConditions .icon[data-condition="snowy-rainy"] {
	background-image: url(icons/weather-snowy-rainy.svg);
}

/* Forecast conditions */

.forecastConditions {
	width: 100%;
	color: white;
	border-collapse: collapse;
	table-layout: fixed;
	margin-bottom: 20px;
}

.forecastConditions .temperature .icon {
	background-image: url(icons/thermometer-white.svg);
}

.forecastConditions .precipitation .icon {
	background-image: url(icons/water-white.svg);
}

.forecastConditions .icon[data-condition="sunny"] {
	background-image: url(icons/weather-sunny-white.svg);
}

.forecastConditions .icon[data-condition="rainy"] {
	background-image: url(icons/weather-rainy-white.svg);
}

.forecastConditions .icon[data-condition="cloudy"] {
	background-image: url(icons/weather-cloudy-white.svg);
}

.forecastConditions .icon[data-condition="snowy"] {
	background-image: url(icons/weather-snowy-white.svg);
}

.forecastConditions .icon[data-condition="night"],
.forecastConditions .icon[data-condition="clear-night"] {
	background-image: url(icons/weather-night-white.svg);
}

.forecastConditions .icon[data-condition="partlycloudy"] {
	background-image: url(icons/weather-partly-cloudy-white.svg);
}

.forecastConditions .icon[data-condition="fog"] {
	background-image: url(icons/weather-fog-white.svg);
}

.forecastConditions .icon[data-condition="pouring"] {
	background-image: url(icons/weather-pouring-white.svg);
}

.forecastConditions .icon[data-condition="snowy-rainy"] {
	background-image: url(icons/weather-snowy-rainy-white.svg);
}

.forecastConditions td {
	padding: 10px;
	background-color: black;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

.forecastConditions .timestamp {
	border-bottom: 5px solid white;
}

.forecastConditions td:not(:last-child) {
	margin-right: 10px;
}

.forecastConditions td > * {
	display: inline-block;
}

/* Other conditions */

.otherStates {
	width: 100%;
}

.otherStates td {
	padding: 10px;
	border-collapse: collapse;
	font-size: 32px;
}

.otherStates td:nth-child(odd) {
	text-align: right;
}

.otherStates td:nth-child(even) {
	background-color: black;
	color: white;
	text-align: center;
}
